@tailwind base;
@tailwind components;
@tailwind utilities;

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

